@font-face {
    font-family: 'Hurmit Nerd Font';
    src: url('../assets/Hermit/HurmitNerdFont-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Hurmit Nerd Font', monospace;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

hr {
    border: solid 1px #8AB2CE;
    width: 100%;
    margin: 7px 0;
}

h1 {
    padding: 17px;
}

a {
    display: block;
    color: #8AB2CE;
    text-decoration: none;
    width: 37vw;
    min-width: 100px;
    background-color: #182634;
    border: solid 1px #8AB2CE;
    padding: 10px;
    border-radius: 17px;
    text-align: center;
    transition: 0.37s ease;
    font-size: clamp(10px, 3vw);
}

a:hover,
a:hover>hr {
    background-color: #8AB2CE;
    color: #0A131D;
    border-color: #0A131D;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100vh;
}

body {
    background: radial-gradient(circle, #203245, #0A131D 50%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Keep align-items to center horizontally */
    /* justify-content: center; */
    /* Remove or change this */
    min-height: 100vh;
    font-size: 17px;
    padding: 0 17px 17px 17px;
    color: #8AB2CE;
    text-align: center;
}

header {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-bar>li {
    padding: 17px;
}

a:has(.a7r-logo) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: auto;
    border: none;
}

.a7r-logo {
    width: 37vw;
}

main {
    flex: 1;
    width: 100%;
}

.card {
    padding: 17px;
    border: solid 1px #8AB2CE;
    border-radius: 17px;
    width: 100%;
    transition: 0.37s ease;
    background-color: #142330;
    margin: 17px 17px 0 0;
}

.section {
    padding: 70px 17px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 17px;
    transition: 0.37s ease;
}

footer {
    width: 100%;
    padding: 17px;
}

.links>a {
    display: block;
    width: 100%;
    text-align: center;
    transition: 0.37s ease;
}

@media (min-width: 1050px) {

    html {
        scroll-padding-top: 73px;
    }

    body {
        background-color: #0A131D;
        display: flex;
        flex-direction: column;
        /* Keep flex-direction */
        align-items: center;
        /* Keep align-items to center horizontally */
        /* justify-content: center; */
        /* Remove or change this */
        min-height: 100vh;
        min-width: 100vw;
    }

    header {
        position: -webkit-sticky;
        /* For Safari */
        position: sticky;
        top: 0;
        background-color: #0A131D;
        /* Ensure it's not transparent */
        z-index: 1000;
        /* Keeps it above other content */
        width: 100vw;
        height: auto;
        border-bottom: solid 1px #8AB2CE;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #0A131D;
        width: 100%;
    }

    li {
        padding: 17px;
        width: 14vw;
        transition: 0.37s ease;
    }

    a {
        flex: 1;
        display: block;
        color: #8AB2CE;
        text-decoration: none;
        width: 100%;
        background-color: #182634;
        border: solid 1px #8AB2CE;
        padding: 10px;
        border-radius: 17px;
        text-align: center;
        transition: 0.37s ease;
        font-size: 1.3vw;
    }

    a:has(.a7r-logo) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .a7r-logo {
        width: 100%;
        max-width: 17vw;
    }

    main {
        flex: 1;
    }

    .card-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        gap: 0 17px;
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .links>a {
        width: 100%;
    }
}